html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

footer .whitefooter .container, footer .bluefooter .container, .contact .container, .sec-4 .container, .sec-3 .container, .sec-2 .container .upside, .sec-2 .container, .sec-1 .container, header .container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

header {
  background-color: #1c1e53;
  position: fixed;
  margin-top: 0;
  width: 100%;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 92px;
}
header .container .navmenu {
  width: 590px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 980px) {
  header .container .navmenu {
    width: 200px;
    flex-direction: row-reverse;
  }
}
@media (max-width: 480px) {
  header .container .navmenu {
    width: 170px;
  }
}
header .container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 380px;
}
@media (max-width: 980px) {
  header .container ul {
    display: none;
  }
}
header .container ul li a {
  color: #bbbbcb;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  transition-duration: 0.4s;
}
header .container ul a:hover {
  color: white;
}
header .container .fa-bars {
  display: none;
  cursor: pointer;
}
@media (max-width: 980px) {
  header .container .fa-bars {
    display: block;
  }
}
@media (max-width: 480px) {
  header .container .fa-bars {
    font-size: 28px;
  }
}
header .container button {
  width: 185px;
  height: 60px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #1c1e53;
}
@media (max-width: 980px) {
  header .container button {
    width: 150px;
    height: 50px;
  }
}
@media (max-width: 480px) {
  header .container button {
    width: 130px;
    height: 40px;
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  header .container button {
    display: none;
  }
}
header .container button:hover {
  background-color: #535460;
}

.sec-1 {
  height: 668px;
  background-color: #1c1e53;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 1180px) {
  .sec-1 {
    height: 900px;
  }
}
@media (max-width: 670px) {
  .sec-1 {
    height: 800px;
  }
}
@media (max-width: 487px) {
  .sec-1 {
    height: 700px;
  }
}
@media (max-width: 390px) {
  .sec-1 {
    height: 650px;
  }
}
.sec-1 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 1180px) {
  .sec-1 .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }
}
@media (max-width: 670px) {
  .sec-1 .container {
    gap: 45px;
  }
}
@media (max-width: 487px) {
  .sec-1 .container {
    gap: 55px;
  }
}
@media (max-width: 390px) {
  .sec-1 .container {
    gap: 30px;
  }
}
.sec-1 .container .leftside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 582px;
  height: 414px;
}
@media (max-width: 1300px) {
  .sec-1 .container .leftside {
    width: 50%;
  }
}
@media (max-width: 1180px) {
  .sec-1 .container .leftside {
    text-align: center;
    height: 300px;
    width: 80%;
  }
}
@media (max-width: 670px) {
  .sec-1 .container .leftside {
    margin-top: 40px;
  }
}
@media (max-width: 554px) {
  .sec-1 .container .leftside {
    height: 250px;
    margin-top: 0;
  }
}
@media (max-width: 487px) {
  .sec-1 .container .leftside {
    height: 200px;
    width: 95%;
  }
}
@media (max-width: 390px) {
  .sec-1 .container .leftside {
    height: 250px;
  }
}
.sec-1 .container .leftside h1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px; /* 137.037% */
}
.sec-1 .container .leftside p {
  width: 95%;
  color: #cbcbce;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
@media (max-width: 1300px) {
  .sec-1 .container .leftside h1 {
    font-size: 50px;
  }
  .sec-1 .container .leftside p {
    font-size: 15px;
    width: 85%;
  }
}
@media (max-width: 1180px) {
  .sec-1 .container .leftside h1 {
    font-size: 40px;
  }
  .sec-1 .container .leftside p {
    width: 100%;
  }
}
@media (max-width: 1180px) and (max-width: 670px) {
  .sec-1 .container .leftside h1 {
    font-size: 34px;
    line-height: 50px;
  }
  .sec-1 .container .leftside p {
    font-size: 15px;
  }
}
@media (max-width: 1180px) and (max-width: 554px) {
  .sec-1 .container .leftside h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .sec-1 .container .leftside p {
    font-size: 12px;
  }
}
@media (max-width: 1180px) and (max-width: 487px) {
  .sec-1 .container .leftside h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .sec-1 .container .leftside p {
    font-size: 12px;
  }
}
@media (max-width: 1180px) and (max-width: 405px) {
  .sec-1 .container .leftside h1 {
    font-size: 20px;
  }
  .sec-1 .container .leftside p {
    font-size: 12px;
  }
}
.sec-1 .container .leftside .btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 408px;
}
@media (max-width: 1180px) {
  .sec-1 .container .leftside .btn {
    justify-content: space-around;
  }
}
.sec-1 .container .leftside .btn button {
  width: 230px;
  height: 64px;
  color: #1b1c2b;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
  border-radius: 41px;
  cursor: pointer;
  background: #fcd980;
  transition-duration: 0.4s;
}
@media (max-width: 1180px) {
  .sec-1 .container .leftside .btn button {
    width: 35%;
  }
}
@media (max-width: 670px) {
  .sec-1 .container .leftside .btn button {
    width: 40%;
  }
}
@media (max-width: 554px) {
  .sec-1 .container .leftside .btn button {
    height: 50px;
    font-size: 15px;
    width: 50%;
  }
}
@media (max-width: 340px) {
  .sec-1 .container .leftside .btn button {
    height: 40px;
    width: 55%;
  }
}
@media (max-width: 1180px) {
  .sec-1 .container .leftside .btn {
    width: 90%;
  }
}
@media (max-width: 390px) {
  .sec-1 .container .leftside .btn {
    flex-direction: column;
    height: 100px;
    width: 100%;
  }
}
.sec-1 .container .leftside .btn button:hover {
  background-color: #fde4a6;
  color: #585858;
}
.sec-1 .container .leftside .pricingbtn {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
@media (max-width: 554px) {
  .sec-1 .container .leftside .pricingbtn {
    font-size: 14px;
  }
}
.sec-1 .container .leftside .pricingbtn img {
  margin-left: 15px;
}
@media (max-width: 554px) {
  .sec-1 .container .leftside .pricingbtn img {
    margin-left: 5px;
  }
}
@media (max-width: 1180px) {
  .sec-1 .container .rightside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
@media (max-width: 1300px) {
  .sec-1 .container .rightside img {
    width: 95%;
  }
}

.sec-2 {
  background-color: #f4f6fc;
  margin-bottom: 100px;
}
@media (max-width: 554px) {
  .sec-2 {
    padding-top: 40px;
  }
}
.sec-2 .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 716px;
  background-image: url("../images/aboutuspic.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #f4f5f5;
}
@media (max-width: 1280px) {
  .sec-2 .container {
    width: 95%;
  }
}
@media (max-width: 890px) {
  .sec-2 .container {
    height: 800px;
  }
}
.sec-2 .container .upside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 1091px;
  height: 376px;
}
@media (max-width: 1280px) {
  .sec-2 .container .upside {
    width: 95%;
    gap: 15px;
  }
}
@media (max-width: 890px) {
  .sec-2 .container .upside {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
  }
}
@media (max-width: 554px) {
  .sec-2 .container .upside {
    justify-content: center;
    text-align: center;
    gap: 0;
  }
}
.sec-2 .container .upside .leftside2,
.sec-2 .container .upside .rightside2 {
  width: 515px;
}
@media (max-width: 554px) {
  .sec-2 .container .upside .leftside2,
  .sec-2 .container .upside .rightside2 {
    width: 95%;
  }
}
.sec-2 .container .upside .leftside2 h4,
.sec-2 .container .upside .rightside2 h4 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
.sec-2 .container .upside .leftside2 h3,
.sec-2 .container .upside .rightside2 h3 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 147.368% */
}
.sec-2 .container .upside .leftside2 p,
.sec-2 .container .upside .rightside2 p {
  color: rgb(116, 108, 108);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
@media (max-width: 1121px) {
  .sec-2 .container .upside .leftside2 h3,
  .sec-2 .container .upside .rightside2 h3 {
    font-size: 30px;
  }
  .sec-2 .container .upside .leftside2 p,
  .sec-2 .container .upside .rightside2 p {
    font-size: 14px;
  }
}
@media (max-width: 485px) {
  .sec-2 .container .upside .leftside2 h3,
  .sec-2 .container .upside .rightside2 h3 {
    font-size: 24px;
    line-height: 40px;
  }
  .sec-2 .container .upside .leftside2 p,
  .sec-2 .container .upside .rightside2 p {
    font-size: 14px;
  }
}
@media (max-width: 405px) {
  .sec-2 .container .upside .leftside2 h4,
  .sec-2 .container .upside .rightside2 h4 {
    font-size: 15px;
  }
  .sec-2 .container .upside .leftside2 h3,
  .sec-2 .container .upside .rightside2 h3 {
    font-size: 20px;
  }
  .sec-2 .container .upside .leftside2 p,
  .sec-2 .container .upside .rightside2 p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 345px) {
  .sec-2 .container .upside .leftside2 h4,
  .sec-2 .container .upside .rightside2 h4 {
    font-size: 15px;
  }
  .sec-2 .container .upside .leftside2 h3,
  .sec-2 .container .upside .rightside2 h3 {
    font-size: 20px;
  }
  .sec-2 .container .upside .leftside2 p,
  .sec-2 .container .upside .rightside2 p {
    font-size: 14px;
  }
}
@media (max-width: 305px) {
  .sec-2 .container .upside .leftside2 h4,
  .sec-2 .container .upside .rightside2 h4 {
    font-size: 14px;
  }
  .sec-2 .container .upside .leftside2 h3,
  .sec-2 .container .upside .rightside2 h3 {
    font-size: 18px;
  }
  .sec-2 .container .upside .leftside2 p,
  .sec-2 .container .upside .rightside2 p {
    font-size: 14px;
    line-height: 20px;
  }
}
.sec-2 .container .upside .rightside2 {
  margin-top: 21px;
}
@media (max-width: 700px) {
  .sec-2 {
    margin-bottom: 50px;
  }
}

.sec-3 {
  margin-bottom: 115px;
}
.sec-3 .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 492px;
}
@media (max-width: 1030px) {
  .sec-3 .container {
    height: 1140px;
  }
}
@media (max-width: 700px) {
  .sec-3 .container {
    align-items: center;
  }
}
.sec-3 .container .benefits {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.sec-3 .container h2 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
  text-align: center;
  width: 630px;
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  .sec-3 .container h2 {
    width: 90%;
    font-size: 44px;
    margin-bottom: 40px;
  }
}
@media (max-width: 588px) {
  .sec-3 .container h2 {
    width: 95%;
    font-size: 40px;
  }
}
@media (max-width: 359px) {
  .sec-3 .container h2 {
    font-size: 34px;
  }
}
.sec-3 .container .forcards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}
@media (max-width: 1030px) {
  .sec-3 .container .forcards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.sec-3 .container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  background-color: #f4f6fc;
  width: 32%;
  height: 316px;
  padding: 50px 32px 48px 48px;
}
@media (max-width: 1080px) {
  .sec-3 .container .card {
    padding: 45px 25px 40px 40px;
  }
}
@media (max-width: 1030px) {
  .sec-3 .container .card {
    width: 59%;
    padding: 50px 32px 48px 48px;
  }
}
@media (max-width: 700px) {
  .sec-3 .container .card {
    width: 80%;
  }
}
@media (max-width: 588px) {
  .sec-3 .container .card {
    width: 95%;
    height: 330px;
  }
}
@media (max-width: 370px) {
  .sec-3 .container .card {
    padding: 45px 30px 30px 48px;
    height: 355px;
  }
}
.sec-3 .container .card .fa-file-pen,
.sec-3 .container .card .fa-pen-ruler,
.sec-3 .container .card .fa-users {
  color: #2405f2;
  font-size: 29px;
}
.sec-3 .container .card h6 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}
.sec-3 .container .card p {
  color: #282938;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
@media (max-width: 350px) {
  .sec-3 .container .card h6 {
    font-size: 24px;
    line-height: 30px;
  }
  .sec-3 .container .card p {
    font-size: 15px;
    line-height: 24px;
  }
}
@media (max-width: 580px) {
  .sec-3 {
    margin-bottom: 190px;
  }
}
@media (max-width: 370px) {
  .sec-3 {
    margin-bottom: 290px;
  }
}

.sec-4 {
  height: 945px;
  margin-bottom: 128px;
}
@media (max-width: 1311px) {
  .sec-4 {
    height: 2380px;
  }
}
@media (max-width: 580px) {
  .sec-4 {
    height: 2480px;
  }
}
@media (max-width: 385px) {
  .sec-4 {
    height: 2580px;
  }
}
.sec-4 .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 945px;
}
@media (max-width: 383px) {
  .sec-4 .container {
    height: 1030px;
  }
}
.sec-4 .container .pricingheader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 562px;
  height: 136px;
}
@media (max-width: 590px) {
  .sec-4 .container .pricingheader {
    width: 95%;
  }
}
@media (max-width: 440px) {
  .sec-4 .container .pricingheader {
    height: 200px;
    margin-bottom: 30px;
    text-align: center;
  }
}
@media (max-width: 383px) {
  .sec-4 .container .pricingheader {
    height: 240px;
  }
}
.sec-4 .container h2 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}
.sec-4 .container p {
  color: #5d5f7b;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
@media (max-width: 458px) {
  .sec-4 .container h2 {
    font-size: 44px;
  }
}
@media (max-width: 420px) {
  .sec-4 .container h2 {
    font-size: 40px;
  }
}
.sec-4 .pricingcards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 14px;
  height: 745px;
}
@media (max-width: 1311px) {
  .sec-4 .pricingcards {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
  }
}
.sec-4 .pricingcards .prcards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 406px;
  height: 745px;
  border-radius: 12px;
  background-color: #f4f6fc;
  padding-top: 64px;
  padding-left: 48px;
  padding-bottom: 62px;
}
@media (max-width: 1311px) {
  .sec-4 .pricingcards .prcards {
    width: 90%;
    align-items: center;
    height: 700px;
    padding-right: 48px;
    text-align: center;
  }
}
@media (max-width: 595px) {
  .sec-4 .pricingcards .prcards {
    height: 800px;
  }
}
@media (max-width: 370px) {
  .sec-4 .pricingcards .prcards {
    padding: 44px 25px 62px 25px;
  }
}
@media (max-width: 288px) {
  .sec-4 .pricingcards .prcards {
    padding: 44px 20px 62px 20px;
  }
}
.sec-4 .pricingcards .prcards .cardh {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 187px;
  margin-bottom: 15px;
}
@media (max-width: 1311px) {
  .sec-4 .pricingcards .prcards .cardh h3 {
    font-size: 40px;
  }
  .sec-4 .pricingcards .prcards .cardh p {
    font-size: 18px;
  }
}
.sec-4 .pricingcards .prcards .cardh h3 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 147.368% */
}
.sec-4 .pricingcards .prcards .cardh p {
  color: #2405f2;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 0;
}
@media (max-width: 1311px) {
  .sec-4 .pricingcards .prcards h6 {
    margin-bottom: 15px;
  }
}
.sec-4 .pricingcards .prcards h6 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}
.sec-4 .pricingcards .prcards p {
  color: #5d5f7b;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 78px;
  text-align: start;
}
.sec-4 .pricingcards .prcards .prlist ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 220px;
  margin-bottom: 79px;
}
.sec-4 .pricingcards .prcards .prlist ul li {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.sec-4 .pricingcards .prcards .prlist ul :nth-child(4) {
  color: #5d5f7b;
}
.sec-4 .pricingcards .prcards .prlist ul :nth-child(5) {
  color: #5d5f7b;
}
.sec-4 .pricingcards .prcards .prlist ul img {
  margin-right: 12px;
}
.sec-4 .pricingcards .prcards .prlist ul img:hover {
  transform: rotate(90deg);
  transition-duration: 0.4s;
}
@media (max-width: 310px) {
  .sec-4 .pricingcards .prcards .prlist ul li {
    font-size: 15px;
  }
  .sec-4 .pricingcards .prcards .prlist ul img {
    margin-right: 5px;
  }
}
.sec-4 .prcards:nth-child(2) {
  background-color: #1c1e53;
}
.sec-4 .prcards:nth-child(2) .cardh {
  width: 200px;
}
.sec-4 .prcards:nth-child(2) .cardh h3 {
  color: #fff;
}
.sec-4 .prcards:nth-child(2) .cardh p {
  color: #fcd980;
}
.sec-4 .prcards:nth-child(2) h6 {
  color: #fff;
}
.sec-4 .prcards:nth-child(2) p {
  margin-bottom: 50px;
}
.sec-4 .prcards:nth-child(2) .prlist ul li {
  color: #fff;
}
.sec-4 .prcards:nth-child(2) .prlist ul :nth-child(4) {
  color: #fff;
}
.sec-4 .prcards:nth-child(2) .prlist ul :nth-child(5) {
  color: #fff;
}
.sec-4 .prcards:nth-child(2) button {
  background-color: #fcd980;
}
.sec-4 .prcards:nth-child(2) button a {
  color: #282938;
}
.sec-4 .prcards:nth-child(2) button:hover {
  background-color: #fde4a6;
  color: #585858;
}
.sec-4 .prcards:nth-child(3) .cardh {
  width: 228px;
}
.sec-4 .prcards:nth-child(3) p {
  margin-bottom: 44px;
}
.sec-4 .prcards:nth-child(3) .prlist ul {
  height: 258px;
}
.sec-4 .prcards:nth-child(3) .prlist ul :nth-child(4) {
  color: #282938;
}
.sec-4 .prcards:nth-child(3) .prlist ul :nth-child(5) {
  color: #282938;
}
.sec-4 button {
  margin-left: 24px;
  display: flex;
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 41px;
  background-color: #282938;
  transition-duration: 0.4s;
  cursor: pointer;
}
.sec-4 button a {
  color: #f4f6fc;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}
@media (max-width: 579px) {
  .sec-4 button {
    margin-left: 0;
  }
}
@media (max-width: 370px) {
  .sec-4 button {
    width: 95%;
    padding: 15px 15px;
  }
}
.sec-4 button:hover {
  background-color: #535460;
}

.contact {
  padding-top: 220px;
  margin-bottom: 128px;
}
.contact .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.contact .container .contactheader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  width: 562px;
  height: 136px;
  margin-bottom: 64px;
}
@media (max-width: 700px) {
  .contact .container .contactheader {
    width: 100%;
  }
}
.contact .container .contactheader h2 {
  color: #282938;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}
.contact .container .contactheader p {
  color: rgb(116, 108, 108);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
@media (max-width: 350px) {
  .contact .container .contactheader h2 {
    font-size: 40px;
  }
}
.contact .container .contactform {
  width: 1061px;
  height: 640px;
  border-radius: 12px;
  background: #f4f6fc;
  padding: 55px 77px;
}
@media (max-width: 1061px) {
  .contact .container .contactform {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .contact .container .contactform {
    height: 800px;
  }
}
@media (max-width: 500px) {
  .contact .container .contactform {
    padding: 25px 47px;
  }
}
@media (max-width: 350px) {
  .contact .container .contactform {
    padding: 25px 27px;
  }
}
.contact .container .contactform form .upform {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 700px) {
  .contact .container .contactform form .upform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
.contact .container .contactform form .upform .formdiv {
  width: 48%;
  height: 102px;
  margin-bottom: 5px;
}
@media (max-width: 700px) {
  .contact .container .contactform form .upform .formdiv {
    width: 100%;
  }
}
.contact .container .contactform form .upform .formdiv label {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  margin-bottom: 5px;
}
.contact .container .contactform form .upform .formdiv label input {
  width: 100%;
  padding: 18px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #f4f6fc;
}
.contact .container .contactform form .upform .formdiv label ::-moz-placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.contact .container .contactform form .upform .formdiv label ::placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.contact .container .contactform form .upform .formdiv select {
  width: 100%;
  padding: 18px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #f4f6fc;
}
.contact .container .contactform form .textdiv {
  width: 100%;
}
.contact .container .contactform form .textdiv label {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  margin-bottom: 5px;
}
.contact .container .contactform form .textdiv label textarea {
  width: 100%;
  height: 138px;
  padding: 18px 32px;
  align-items: flex-start;
  gap: 10px;
  background-color: #f4f6fc;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  resize: none;
  margin-bottom: 32px;
}
.contact .container .contactform form .textdiv label ::-moz-placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.contact .container .contactform form .textdiv label ::placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.contact .container .contactform form input[type=submit] {
  display: flex;
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 41px;
  background: #282938;
  color: #f4f6fc;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
  cursor: pointer;
  transition-duration: 0.4s;
}
@media (max-width: 700px) {
  .contact .container .contactform form input[type=submit] {
    margin: 0 auto;
  }
}
@media (max-width: 350px) {
  .contact .container .contactform form input[type=submit] {
    width: 85%;
  }
}
.contact .container .contactform form input[type=submit]:hover {
  background-color: #535460;
}

footer {
  height: 489px;
}
@media (max-width: 525px) {
  footer {
    height: 449px;
  }
}
footer .bluefooter {
  background-color: #1c1e53;
  height: 397px;
  padding-top: 104px;
}
@media (max-width: 525px) {
  footer .bluefooter {
    padding-top: 40px;
  }
}
footer .bluefooter .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 142px;
}
@media (max-width: 1000px) {
  footer .bluefooter .container {
    justify-content: space-between;
    gap: 40px;
  }
}
@media (max-width: 405px) {
  footer .bluefooter .container {
    gap: 20px;
  }
}
footer .bluefooter .container .fleft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 294px;
  width: 517px;
}
@media (max-width: 945px) {
  footer .bluefooter .container .fleft {
    width: 50%;
  }
}
@media (max-width: 880px) {
  footer .bluefooter .container .fleft {
    width: 60%;
  }
}
@media (max-width: 525px) {
  footer .bluefooter .container .fleft {
    width: 50%;
    height: 357px;
  }
}
@media (max-width: 335px) {
  footer .bluefooter .container .fleft {
    width: 70%;
  }
}
footer .bluefooter .container .fleft p {
  color: #f4f6fc;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  width: 75%;
}
footer .bluefooter .container .fleft .yeldiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  background-color: #fcd980;
  width: 517px;
  height: 95px;
  padding-top: 18px;
  padding-left: 37px;
  padding-right: 37px;
  gap: 29px;
}
@media (max-width: 945px) {
  footer .bluefooter .container .fleft .yeldiv {
    width: 100%;
  }
}
@media (max-width: 892px) {
  footer .bluefooter .container .fleft .yeldiv {
    gap: 20px;
  }
}
@media (max-width: 840px) {
  footer .bluefooter .container .fleft .yeldiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-left: 15px;
    height: 130px;
    gap: 0px;
  }
  footer .bluefooter .container .fleft .yeldiv h6 {
    line-height: 10px;
  }
  footer .bluefooter .container .fleft .yeldiv p {
    line-height: 10px;
  }
}
@media (max-width: 525px) {
  footer .bluefooter .container .fleft .yeldiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 85px;
    width: 199%;
    gap: 15px;
    padding-right: 10px;
  }
}
@media (max-width: 370px) {
  footer .bluefooter .container .fleft .yeldiv {
    height: 70px;
    width: 180%;
    margin-left: 15px;
    gap: 20px;
  }
}
@media (max-width: 335px) {
  footer .bluefooter .container .fleft .yeldiv {
    width: 125%;
    padding-right: 0px;
    margin-left: 20px;
  }
}
footer .bluefooter .container .fleft .yeldiv .yelleft .fa-envelope {
  display: none;
  margin-top: 15px;
  margin-left: 35px;
}
@media (max-width: 840px) {
  footer .bluefooter .container .fleft .yeldiv .yelleft {
    width: 100%;
  }
}
@media (max-width: 370px) {
  footer .bluefooter .container .fleft .yeldiv .yelleft p {
    display: none;
  }
  footer .bluefooter .container .fleft .yeldiv .yelleft .fa-envelope {
    display: flex;
  }
}
footer .bluefooter .container .fleft .yeldiv .yelright .fa-phone {
  display: none;
  margin-top: 15px;
  margin-left: 35px;
}
@media (max-width: 840px) {
  footer .bluefooter .container .fleft .yeldiv .yelright {
    width: 100%;
  }
}
@media (max-width: 370px) {
  footer .bluefooter .container .fleft .yeldiv .yelright p {
    display: none;
  }
  footer .bluefooter .container .fleft .yeldiv .yelright .fa-phone {
    display: flex;
  }
}
footer .bluefooter .container .fleft .yeldiv h6 {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}
footer .bluefooter .container .fleft .yeldiv p {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 100%;
}
@media (max-width: 370px) {
  footer .bluefooter .container .fleft .yeldiv h6 {
    font: 15px;
    line-height: 24px;
  }
  footer .bluefooter .container .fleft .yeldiv p {
    font: 14px;
    line-height: 20px;
  }
}
footer .bluefooter .container .fright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 399px;
  gap: 20px;
}
@media (max-width: 525px) {
  footer .bluefooter .container .fright {
    gap: 10px;
  }
}
@media (max-width: 335px) {
  footer .bluefooter .container .fright {
    width: 80px;
  }
}
footer .bluefooter .container .fright h2 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}
footer .bluefooter .container .fright p {
  color: #f4f6fc;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 10px;
}
@media (max-width: 525px) {
  footer .bluefooter .container .fright h2 {
    font-size: 32px;
    line-height: 30px;
  }
  footer .bluefooter .container .fright p {
    font-size: 14px;
  }
}
@media (max-width: 358px) {
  footer .bluefooter .container .fright h2 {
    font-size: 25px;
    line-height: 20px;
  }
  footer .bluefooter .container .fright p {
    font-size: 14px;
  }
}
@media (max-width: 335px) {
  footer .bluefooter .container .fright h2 {
    font-size: 28px;
    line-height: 37px;
    display: none;
  }
  footer .bluefooter .container .fright p {
    display: none;
  }
}
footer .bluefooter .container .fright .flogos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 144px;
}
footer .bluefooter .container .fright .flogos i {
  font-size: 16px;
}
@media (max-width: 347px) {
  footer .bluefooter .container .fright .flogos {
    width: 100%;
  }
}
@media (max-width: 335px) {
  footer .bluefooter .container .fright .flogos {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 50px;
    width: 80px;
  }
  footer .bluefooter .container .fright .flogos i {
    font-size: 32px;
  }
}
footer .whitefooter .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 92px;
}
@media (max-width: 525px) {
  footer .whitefooter .container {
    height: 50px;
  }
}
footer .whitefooter .container p {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
footer .whitefooter .container .footernav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 595px) {
  footer .whitefooter .container .footernav {
    display: none;
  }
}
footer .whitefooter .container .footernav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 300px;
}
footer .whitefooter .container .footernav ul li {
  color: #282938;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}/*# sourceMappingURL=global.css.map */