header {
  background-color: $bgdarkblue;
  position: fixed;
  margin-top: 0;
  width: 100%;
  .container {
    @extend %mycontainer;
    @include flex(row, space-between, center, nowrap);

    height: 92px;

    .navmenu {
      width: 706px;
      @include flex(row, space-between, center, nowrap);
      @media (max-width: 980px) {
        width: 200px;
        flex-direction: row-reverse;
      }
      @media (max-width: 480px) {
        width: 170px;
      }
    }
    ul {
      @include flex(row, space-between, center, nowrap);
      width: 473px;
      @media (max-width: 980px) {
        display: none;
      }
      li a {
        color: #bbbbcb;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
        transition-duration: 0.4s;
      }
      a:hover {
        color: white;
      }
    }
    .fa-bars {
      display: none;
      cursor: pointer;
      @media (max-width: 980px) {
        display: block;
      }
      @media (max-width: 480px) {
        font-size: 28px;
      }
    }
    button {
      width: 185px;
      height: 60px;
      border-radius: 41px;
      border: 2px solid rgba(244, 246, 252, 0.2);
      color: #fff;
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 175% */
      cursor: pointer;
      transition-duration: 0.4s;
      background-color: $bgdarkblue;
      @media (max-width: 980px) {
        width: 150px;
        height: 50px;
      }
      @media (max-width: 480px) {
        width: 130px;
        height: 40px;
        font-size: 14px;
      }
      @media (max-width: 400px) {
        display: none;
      }
    }
    button:hover {
      background-color: #535460;
    }
  }
}
